<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="mssql0"
             connectionString="Server=DESKTOP-9FHII2M,1433;Database=DP_Project_DB0;User Id=dpadmin;Password=Dp123456;"
             providerName="System.Data.SqlClient" />
        <add name="mssql1"
             connectionString="Server=tcp:dpprojectserver.database.windows.net,1433;Initial Catalog=DP_Project_DB1;Persist Security Info=False;User ID=dpadmin;Password=Dp123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
             providerName="System.Data.SqlClient" />
        <add name="mssql2"
             connectionString="Server=tcp:dpprojectserver.database.windows.net,1433;Initial Catalog=DP_Project_DB2;Persist Security Info=False;User ID=dpadmin;Password=Dp123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
             providerName="System.Data.SqlClient" />
        <add name="mssql3"
             connectionString="Server=tcp:dpprojectserver.database.windows.net,1433;Initial Catalog=DP_Project_DB3;Persist Security Info=False;User ID=dpadmin;Password=Dp123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
             providerName="System.Data.SqlClient" />
        <add name="mssql4"
             connectionString="Server=tcp:dpprojectserver.database.windows.net,1433;Initial Catalog=DP_Project_DB4;Persist Security Info=False;User ID=dpadmin;Password=Dp123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
             providerName="System.Data.SqlClient" />
        <add name="mssql5"
             connectionString="Server=tcp:dpprojectserver.database.windows.net,1433;Initial Catalog=DP_Project_DB5;Persist Security Info=False;User ID=dpadmin;Password=Dp123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>